::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}
::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(106, 106, 106, 0.8);
}